
.star-button {
  width: 32px;
  height: 32px;
  background: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .1);
  border-radius: 50px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.star-button__star-icon {
  width: 20px;
  height: 20px;
}