/* ErrorElement.css */
.modal-error {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-error__box {
  width: 100%;
  max-width: 480px;
  margin: 0px 15px 500px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


}

.modal-error__status {
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: var(--font-weight-bold);
  color: #d32f2f;
  line-height: 1;
}

.modal-error__title {
  font-size: 28px;
  margin: 10px 0;
  color: var(--color-text-dark);
}

.modal-error__message {
  font-size: 16px;
  color: var(--color-text-medium);
  margin-bottom: 45px;
}

.modal-error__back-button {
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal-error__back-button:hover {
  background-color: var(--color-interactive-hover);
}