
.category-filter {
  width: 100%;
  margin-top: 15px;
}

.category-filter__container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 25px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.category-filter__list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  overflow: hidden;
}

.category-filter__link {
  font-size: 11px;
  text-transform: uppercase;
  padding: 8px 16px;
  border: 1px solid #ebeff3;
  border-radius: var(--border-radius-md);
  background-color: #f3f6f9;
  cursor: pointer;
  line-height: 1.3;
}