

.allergen-checkbox {
  cursor: pointer;
}

.allergen-checkbox__input {
  display: none;
}

.allergen-checkbox__info-wrapper {
  padding: 8px 15px;
  background: #efefef;
  border-radius: var(--border-radius-lg);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.allergen-checkbox__info-wrapper--active {
  background: var(--color-red);
}

.allergen-checkbox__img {
  width: 23px;
  height: 23px;
}

.allergen-checkbox__text {
  font-size: var(--font-size-xs);
}

.allergen-checkbox__text--active {
  color: var(--color-secondary);
  font-weight: var(--font-weight-bold);
}