
.products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}

.products-list__item {
  padding: 8px 8px;
  box-shadow: 0 0 13px rgba(0, 0, 0, .0844897);
  border-radius: 8px;
  background-color: #f9fafb;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.products-list__item-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.products-list__link {
  position: relative;
}

.products-list__img {
  width: 70px;
  min-width: 70px;
  height: 70px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.products__suggestion-banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* padding: 4px 0; */
  text-align: center;
  font-size: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 3;
  color: white;
  background-color: #fa0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}


.products-list__title {
  font-size: 10px;
  font-weight: 700;
  text-align: left;
  color: #283646;
  line-height: 1.2;
}

.products-list__title--suggested {
  padding: 10px 10px 0px 10px;
}

.products-list__description {
  margin-top: 2px;
  font-size: 9px;
  font-weight: var(--font-weight-medium);
  color: #a4a4a4;
  line-height: 1.2;
}

.products-list__price {
  font-size: 12px;
  font-weight: 700;
  color: #283646;
}

.products-list__taxes {
  margin-top: 6px;
  font-size: 9px;
  font-weight: var(--font-weight-medium);
  color: #a4a4a4;
  line-height: 1.2;
}



/* MEDIA QUERIES */
@media (min-width: 700px) {
  .products-list__item {
    padding: 15px;
  }

  .products-list__img {
    width: 125px;
    min-width: 125px;
    height: 125px;
  }

  .products__suggestion-banner {
    font-size: 10px;
    line-height: 2.7;
  }

  .products-list__title {
    font-size: 12px;
  }

  .products-list__description {
    margin-top: 5px;
    font-size: 12px;
  }

  .products-list__price {
    margin-top: 2px;
    font-size: 12px;
  }

  .products-list__taxes {
    margin-top: 10px;
    font-size: 12px;
  }
}

@media (min-width: 970px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .products-list__title {
    font-size: 18px;
  }

  .products-list__description {
    margin-top: 8px;
  }

  .products-list__price {
    margin-top: 4px;
    font-size: 18px;
  }

  .products-list__taxes {
    margin-top: 12px;
  }
}
